@model IEnumerable<EF_Associations.Models.Category>

@{
    ViewBag.Title = "Index";
}

<ul>

    @foreach (var category in this.Model)
    {
        <li>
            @category.Name
            <ul>
                @foreach (var movie in category.Movies)
                {
                    <li>
                        @movie.Name
                        @movie.Category.Name
                    </li>
                }
            </ul>
        </li>
    }
</ul>